@import "./1_variables";
@import "./0_mediaquery";

.users {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
  width: 100vw;
  background-color: $bg;

  .new {
    position: relative;

    button {
      display: block;
      width: 40%;
      margin: 2em auto 1em auto;
      cursor: pointer;
      padding: 10px;
      border-radius: 12px;
      color: white;
    }

    button:hover {
      background-color: rgba($color: #000000, $alpha: 0.8) !important;
    }
  }

  h6 {
    font-size: small;
    height: 24px;
    line-height: 24px;
    width: fit-content;
    display: block;
    text-align: right;
    color: $accent;
    font-weight: 400;
    margin: 10px 1em 0 auto;
  }

  .usrinput {
    padding: 10px 1em 0 1em;
    .input {
      width: 100%;
      background-color: transparent;
      border-radius: 8px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: small;
      padding: 5px;
      text-align: center;
      color: black;
      border: 1px solid #b6b6b6;
      cursor: pointer;
      display: block;
      margin: 0 auto 0 auto;
      // outline: 1px solid $accent;
    }
    h4 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: small;
      line-height: 14px;
      color: #000000;
    }
  }

  .usrselect {
    padding: 10px 1em 0 1em;
    select {
      width: 100%;
      background-color: transparent;
      border-radius: 8px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: small;
      padding: 5px;
      text-align: center;
      color: black;
      border: 1px solid #b6b6b6;
      cursor: pointer;
      display: block;
      margin: 0 auto 0 auto;
    }
    h4 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: small;
      line-height: 14px;
      color: #000000;
    }
  }

  .newusercontent {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 90vh;
    .bot {
      display: grid;
      grid-template-columns: 1fr auto;
      height: 100%;
      overflow: hidden;
      position: relative;

      .main {
        height: 100%;
        overflow-y: auto;
        padding-bottom: 1em;

        .head {
          display: grid;
          grid-template-columns: 32px 1.2fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
          gap: 1px;
          h4 {
            background-color: #eef2f5;
            padding: 5px;
            font-weight: 400;
            overflow: hidden;
          }
        }
        .usr {
          display: grid;
          grid-template-columns: 32px 1.2fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
          gap: 1px;
          background-color: white;
          box-shadow: 1px 1px 5px #60606030;
          margin-bottom: 1px;
          cursor: pointer;

          h4 {
            font-weight: 400;
            padding: 5px 5px 5px 5px;
            font-size: small;
          }
        }
        .usr:hover {
          background-color: #eef2f5;
        }

        .ld {
          position: relative;
          height: 40vh;
        }
      }

      .right {
        width: 300px;
        position: relative;
        padding: 10px 1em 10px 1em;
        background-color: white;
        border: 1px solid $line;

        h5 {
          display: block;
          margin: 1em 1em 1em auto;
          color: $primarylighter;
          cursor: pointer;
          width: fit-content;
        }
        h5:hover {
          color: $primarylight;
        }
      }
      @include maxwidth(mobile) {
        grid-template-columns: 1fr !important;

        * {
          font-size: x-small !important;
        }

        .right,
        .left {
          display: none !important;
        }

        .main {
          margin: 0 1em 1em 1em;
        }
        .head {
          grid-template-columns: 16px 1fr 1fr 0.5fr 0.5fr !important;
          :nth-child(4) {
            display: none !important;
          }
          :nth-child(6) {
            display: none !important;
          }
          :nth-child(7) {
            display: none !important;
          }
        }

        .usr {
          grid-template-columns: 16px 1fr 1fr 0.5fr 0.5fr !important;
          :nth-child(4) {
            display: none !important;
          }
          :nth-child(6) {
            display: none !important;
          }
          :nth-child(7) {
            display: none !important;
          }
        }
      }

      @include maxwidth(tablet) {
        grid-template-columns: 1fr !important;

        * {
          font-size: x-small !important;
        }

        .right,
        .left {
          display: none !important;
        }

        .main {
          margin: 0 1em 1em 1em;
        }
      }
    }

    .activity {
      box-sizing: border-box;
      background: #f6fafd;
      border: 1px solid hsl(228, 12%, 92%);
      border-radius: 10px;
      margin: 0 0 10px 0;

      h4 {
        box-sizing: border-box;
        background: #edf2f5;
        border: 1px solid #efeff2;
        border-radius: 10px 10px 0px 0px;
        font-size: x-small;
        padding: 6px;
      }

      .div2equal {
        grid-template-columns: auto 1fr;
        :last-child {
          text-align: right;
        }
      }
      p {
        padding: 6px;
        font-size: xx-small;
      }
    }

    .usrpopup {
      position: absolute;
      top: 3em;
      left: 2em;
      right: 2em;
      bottom: 0;

      .container {
        max-width: 400px;
        background-color: white;
        border-radius: 8px;
        margin: 0 auto auto auto;
        box-shadow: 1px 1px 5px #606060;
        padding: 1em;
        position: relative;

        .top {
          display: grid;
          grid-template-columns: 1fr auto auto;
          gap: 10px;
        }

        h6 {
          color: $accent;
          font-size: smaller;
        }

        p {
          font-size: medium;
          padding: 10px 0 10px 0;
        }

        button {
          display: block;
          width: 70%;
          margin: 1em auto 1em auto;
          cursor: pointer;
          padding: 10px;
          border-radius: 12px;
          color: white;
        }

        button:hover {
          background-color: rgba($color: #000000, $alpha: 0) !important;
          color: black;
        }

        .buttons {
          :first-child {
            background-color: orange;
            border: 1px solid orange;
          }
          :last-child {
            background-color: red;
            border: 1px solid red;
          }
        }
      }
    }
  }
}
