@import "./1_variables";
@import "./0_mediaquery";

.users {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
  width: 100vw;
  background-color: $bg;
  overflow: hidden;

  .new {
    position: relative;

    button {
      display: block;
      width: 40%;
      margin: 2em auto 1em auto;
      cursor: pointer;
      padding: 10px;
      border-radius: 12px;
      color: white;
    }

    button:hover {
      background-color: rgba($color: #000000, $alpha: 0.8) !important;
    }
  }

  h6 {
    font-size: small;
    height: 24px;
    line-height: 24px;
    width: fit-content;
    display: block;
    text-align: right;
    color: $accent;
    font-weight: 400;
    margin: 10px 1em 0 auto;
  }

  .usrinput {
    padding: 10px 1em 0 1em;
    .input {
      width: 100%;
      background-color: transparent;
      border-radius: 8px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: small;
      padding: 5px;
      text-align: center;
      color: black;
      border: 1px solid #b6b6b6;
      cursor: pointer;
      display: block;
      margin: 0 auto 0 auto;
      // outline: 1px solid $accent;
    }
    h4 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: small;
      line-height: 14px;
      color: #000000;
    }
  }

  .usrselect {
    padding: 10px 1em 0 1em;
    select {
      width: 100%;
      background-color: transparent;
      border-radius: 8px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: small;
      padding: 5px;
      text-align: center;
      color: black;
      border: 1px solid #b6b6b6;
      cursor: pointer;
      display: block;
      margin: 0 auto 0 auto;
    }
    h4 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: small;
      line-height: 14px;
      color: #000000;
    }
  }

  .newusercontent {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;

    .usrpopup {
      position: absolute;
      top: 3em;
      left: 2em;
      right: 2em;
      bottom: 0;

      .container {
        max-width: 400px;
        background-color: white;
        border-radius: 8px;
        margin: 0 auto auto auto;
        box-shadow: 1px 1px 5px #606060;
        padding: 1em;
        position: relative;

        .top {
          display: grid;
          grid-template-columns: 1fr auto auto;
          gap: 10px;
        }

        h6 {
          color: $accent;
          font-size: smaller;
        }

        p {
          font-size: medium;
          padding: 10px 0 10px 0;
        }

        button {
          display: block;
          width: 70%;
          margin: 1em auto 1em auto;
          cursor: pointer;
          padding: 10px;
          border-radius: 12px;
          color: white;
        }

        button:hover {
          background-color: rgba($color: #000000, $alpha: 0) !important;
          color: black;
        }

        .buttons {
          :first-child {
            background-color: orange;
            border: 1px solid orange;
          }
          :last-child {
            background-color: red;
            border: 1px solid red;
          }
        }
      }
    }
  }
}
