.mapdata {
  @import "./variables";
  overflow: hidden;
  height: 100vh;

  .MainingsContent {
    .home {
      margin: 0 !important;
      height: 100%;
      display: grid;
      grid-template-columns: auto 4fr;
      overflow-y: hidden;


      .popup {
        position: absolute;
        background-color: white;
        border-radius: 8px;
        text-align: center;
        width: 300px;
        height: 250px;

        .wrapper {
          position: relative;
          padding: 1em;
          width: 100%;
          height: 100%;

          h3 {
            display: block;
            padding: 10px;
          }

        

          .single {
            width: 100%;
            p {
              font-size: medium;
              text-align: left;
              margin: 5px 0 5px 0;
            }

            h4 {
              text-align: center;
              margin: 1em 1em 10px 1em;
            }
          }

          .fa-caret-down {
            position: absolute;
            bottom: -20px;
            height: 32px;
            width: 44px;
            text-align: center;
            left: 128px;
            line-height: 32px;
            font-size: xx-large;
            color: white;
          }

          .legend {
            position: absolute;
            left: 10px;
            bottom: 10px;
            padding: 5px;
            background-color: rgba($color: #fff, $alpha: 0.8);
            padding: 10px;

            .cwrap {
              display: grid;
              grid-template-columns: auto 1fr;
              gap: 10px;
              font-size: x-small;

              .circle {
                border: 2px solid yellow;
                background-color: aqua;
                height: 16px;
                width: 16px;
                border-radius: 24px;
                font-size: x-small;
                text-align: center;
                line-height: 16px;
              }
            }
          }
        }
      }
    }
  }
}
